/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
#main-header{
	background: #34a5dd;
	box-sizing: border-box;
	color: #fff;
	padding: 1.25em;
}
.svg-icon{
	display: inline-block;
}
.svg-icon svg{
	width: 3.75em;
	height: 3.75em;
}
#main-header h1{
	display: inline-block;
	font-size: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	top: -1.2em;
	left: 0.625em;
}
.preamble{
	box-sizing: border-box;
	color: #404040;
	font-size: 1.125em;
	font-weight: 300;
	line-height: 1.3em;
	padding: 1.25em;
}
#js-talks ul li{
	background: #f6f5f5;
	box-sizing: border-box;
	margin: 0 0 0.5em 0;
	padding: 1.25em;
}
#js-talks ul li h2{
	font-weight: 600;
}
#js-talks ul li h2:before{
	border-radius: 100%;
	content: '';
	display: inline-block;
	margin: 0 0.5em 0 0;
	height: 0.75em;
	width: 0.75em;
}
h2.blue:before{
	background: #4690cd;
}
h2.red:before{
	background: #ed1c24;
}
h2.green:before{
	background: #00a651;
}
h2.yellow:before{
	background: #f9cf1b;
}

.talkDetails{
	font-weight: 300;
	line-height: 1.3em;
	margin: 0.2em 0 0 1.25em;
}
.location{
	text-transform: uppercase;
	font-weight: 400;
}