body {
    background-color: #FEFEFE; 
}

body h1 {
    font-family: Arial;
    color: #464646;
}

.timeWrapper h2{
    width: 300px;
    background-color: #666;
    color: white;
    clear: both;
    margin-top: 20px;
    border-radius: 2px;
}

.timeWrapper .talkWrapper {
    width: 300px;
    border-radius: 5px;
    background-color: antiquewhite;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    min-height: 200px;
    position: relative;

}

.timeWrapper .talkWrapper p {
    color: #666666;
    margin-left: 10px;
    font-family: Arial;
}

.timeWrapper .talkWrapper h3 {
    color: #313131;
    margin-left: 10px;
    font-family: Arial;
 }

.timeWrapper .talkWrapper .location {
    color: black;
    position: absolute;
    bottom: 0px;
    right: 15px;
 }


.timeWrapper:before,
.timeWrapper:after {
    content: " ";
    display: table;
}
.timeWrapper:after {
    clear: both;
}
/**
 * For IE 6/7 only
 */
.timeWrappers {
    *zoom: 1;
}

.filterbtn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #666666) );
	background:-moz-linear-gradient( center top, #666666 5%, #666666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#666666');
	background-color:#666666;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #666666;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	min-width:95px;
	text-decoration:none;
	text-align:center;
    margin-right: 4px;
    margin-top: 4px;
    border-radius: 2px;
}
.filterbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, black) );
	background:-moz-linear-gradient( center top, #666666 5%, black 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#666666');
	background-color:#666666;
}.filterbtn:active {
	position:relative;
	top:1px;
}